<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249868261332-2buhkdak1to7jn7joknmqh7dkn4i1lne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249868261332-2buhkdak1to7jn7joknmqh7dkn4i1lne</string>
	<key>API_KEY</key>
	<string>AIzaSyBVVqDXiKC_iqFyhSm3NjNgJUERV0TAyzs</string>
	<key>GCM_SENDER_ID</key>
	<string>249868261332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bartugenccan.ShoppingApp</string>
	<key>PROJECT_ID</key>
	<string>swift-shop-676f1</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-shop-676f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249868261332:ios:50da746b3ff6cae0b62841</string>
</dict>
</plist>